[Unit]
Description=Flask Webserver
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/home/pi/slimmemeter-rpi/start_server.sh

[Install]
WantedBy=multi-user.target
