<!doctype html>
<html>
<head>
    <title>Electric Meter</title>
    <link rel="stylesheet" href='../static/style.css'/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        body {
            text-align: center;
        }

        #g1,
        #g2 {
            width: 200px;
            height: 160px;
            display: inline-block;
            margin: 1em;
        }
    </style>
</head>
<body>
<h1>Electric Meter </h1>
<div id="g1"></div>
<div id="g2"></div>
<hr>
<h3> Last Meter Reading: {{ time }} ==> <a href="/" class="button">REFRESH</a></h3>
<hr>
<p> RSPI MeterKast</p>

<script src="../static/raphael-2.1.4.min.js"></script>
<script src="../static/justgage.js"></script>
<script>
	var g1, g2;
	document.addEventListener("DOMContentLoaded", function(event) {
	    g1 = new JustGage({
		id: "g1",
		value: {{total_in}},
		valueFontColor: "yellow",
		min: 0,
		max: 6000,
		title: "Power consumption",
		label: "Kw"
	});
	    g2 = new JustGage({
		id: "g2",
		value: {{total_out}},
		valueFontColor: "yellow",
		min: 0,
		max: 2500,
		title: "Power Surplus",
		label: "Kw"
	});
      });

</script>
</body>
</html>
